/* custom.css */

/* Hide all sidebars */
/* .md-sidebar {
    display: none !important;
} */

/* Hide the section sidebar (on the left) */
.md-sidebar--primary {
    display: none !important;
}

/* Hide the table of contents */
/* .md-sidebar--secondary {
    display: none !important;
} */
